@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

*{
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}
.container{
  width: 700px;
  margin: 0 auto;
}
body {
  background-color: rgb(177, 177, 177);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_profile{
  border-radius:50%;
}
i{
  color:black;
  font-size: 50px;
  margin : 5px;
}
i:hover{
  color: rgb(177, 177, 177);
}
.card{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
h3{
  margin: 40px;
}
.button_one{
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color:white;
  text-decoration: none;
}
.social_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_one:hover{
  background-color: white;
  color:black;
  text-decoration: none;
  border: solid 1px black;
}

/*RESPONSIVE*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
